.title {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1em;
  position: relative;
  z-index: 2;
}

.container {
  height: 32rem;
  @media (min-width: 150rem) {
    height: 55rem;
  }

  h1 {
    display: block;
  }
}

.background {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  left: 0;
  top: 6rem;
  z-index: -1;

  transform-origin: 0 0;
  transform: translateZ(-1px) scale(1.5);

  svg {
    flex: 0 0 auto;
    height: 37rem;
    width: auto;

    @media (max-width: 20rem) {
      margin-left: -14.354em;
    }

    @media (min-width: 150rem) {
      height: 76em;
    }

    // clip-path: circle(21.95% at 79.85% 45.5%);
    transition: clip-path 0.5s ease-in-out;

    #outer-circle {
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
    }

    &.animated {
      clip-path: circle(75%);

      #wall {
        animation-name: animateWall;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      #waves {
        animation-name: animateWaves;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      #outer-circle {
        opacity: 0;
      }
    }
  }

  @keyframes animateWall {
    from {
      transform: translateX(0) translateY(0);
    }
    to {
      transform: translateX(1.82%) translateY(0);
    }
  }

  @keyframes animateWaves {
    from {
      transform: translateX(0) translateY(0);
    }
    to {
      transform: translateX(4%) translateY(0);
    }
  }
}
